# Created by .ignore support plugin (hsz.mobi)
.idea
*.iml

/rest-api-demo/.mvn/
/rest-api-demo/target/
/hateoas-api-demo/.mvn/
/hateoas-api-demo/target/
/sucurity-api-demo/.mvn/
/sucurity-api-demo/target/
/oauth2-api-demo/target/
/oauth2-api-demo/.mvn/
